<p-toolbar styleClass="custom-toolbar" [style]="{'position': 'fixed', 'top': '0', 'width': '100%', 'z-index': '1000'}">
  <div class="p-toolbar-group-left">
    <h2>SELLMASTER - E-COMMERCE</h2>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton type="button" icon="pi pi-star" (click)="viewFavorites()" class="favorites-button" style="margin-right: 15px; background: none; color: goldenrod; border: none;"></button>
    <button pButton type="button" icon="pi pi-shopping-cart" (click)="viewCart()" class="cart-button" style="margin-right: 15px; background: none; color: rgb(87, 87, 175); border: none;"></button>
    <button pButton type="button" icon="pi pi-history" (click)="viewHistory()" class="history-button" style="margin-right: 15px; background: none; color: grey; border: none;"></button>
    <h2 style="margin-right: 15px;">{{ userName }}</h2>
    <button pButton type="button" icon="pi pi-sign-out" (click)="logout()" class="logout-button" style="margin-right: 15px; background: none; color: rgb(255, 0, 0); border: none;"></button>
  </div>
</p-toolbar>


<div class="ecommerce-container" style="margin-top: 60px;">
  <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <mat-card>
        <mat-card-header>
          <div class="p-toolbar-group-left">
            <mat-card-title style="margin-right: 15px;">{{ product.productType }}</mat-card-title>
            <mat-card-subtitle style="margin-right: 15px;">{{ product.brand }}</mat-card-subtitle>
          </div>
          <div class="p-toolbar-group-right">
            <button pButton type="button" (click)="addToFavorites(product)" class="product-favorite-button" style="margin-right: 15px; border: none; background: none;">
              <i class="pi" [ngClass]="isFavorite(product) ? 'pi-star' : 'pi-star'" [ngStyle]="{'color': isFavorite(product) ? 'goldenrod' : 'black'}"></i>
            </button>
          </div>
        </mat-card-header>
        <img mat-card-image src="assets/product-placeholder.png" alt="{{ product.productType }}">
        <mat-card-content>
          <p>{{ product.additionalInfo }}</p>
          <p><strong>Price:</strong> {{ product.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button style="color: rgb(87, 87, 175);" class="buy-now" (click)="addToCart(product)">BUY NOW</button>
          <button mat-raised-button style="color: green;" class="details" (click)="showDetails(product)">DETAILS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<p-dialog header="Enter Quantity" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}">
  <form [formGroup]="quantityForm" (ngSubmit)="confirmAddToCart()">
    <div class="p-field" style="margin-bottom: 20px;">
      <label for="quantity">Quantity</label>
      <input id="quantity" style="margin-left: 10px;" type="number" pInputText formControlName="quantity" [max]="selectedProduct?.stock"/>
    </div>
    <p-footer>
      <button pButton type="submit" label="Add to Cart" [disabled]="!quantityForm.valid" style="margin-right: 10px;"></button>
      <button pButton type="button" label="Cancel" (click)="display = false"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Product Details" [(visible)]="displayDetails" [modal]="true" [style]="{width: '50vw'}" (onHide)="displayDetails = false">
  <div *ngIf="selectedProduct">
    <p><strong>Type:</strong> {{ selectedProduct.productType }}</p>
    <p><strong>Brand:</strong> {{ selectedProduct.brand }}</p>
    <p><strong>Additional Info:</strong> {{ selectedProduct.additionalInfo }}</p>
    <p><strong>Price:</strong> {{ selectedProduct.price | currency }}</p>
  </div>
  <p-footer>
    <button pButton type="button" label="Close" (click)="displayDetails = false"></button>
  </p-footer>
</p-dialog>
