<div class="history-container">
  <h2>Order History</h2>
  <div class="order-list">
    <div *ngFor="let order of orders" class="order-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Order on {{ order.fecha }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Total Amount:</strong> {{ order.montoTotal | currency }}</p>
          <p-accordion>
            <p-accordionTab *ngFor="let product of order.products" [header]="'Product Type: ' + (productsDetails[product.productID]?.productType || product.productID)">
              <div *ngIf="productsDetails[product.productID] as productDetails">
                <p><strong>Product Type:</strong> {{ productDetails.productType }}</p>
                <p><strong>Brand:</strong> {{ productDetails.brand }}</p>
                <p><strong>Additional Info:</strong> {{ productDetails.additionalInfo }}</p>
                <p><strong>Price:</strong> {{ product.price | currency }}</p>
                <p><strong>Quantity:</strong> {{ product.quantity }}</p>
                <p><strong>Total:</strong> {{ product.total | currency }}</p>
              </div>
            </p-accordionTab>
          </p-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="back-button-container">
    <button mat-raised-button style="color: rgb(76, 0, 252); background: none; border: none;" class="details" (click)="backToEcommerce()">Back to E-commerce</button>
  </div>
</div>