<!-- src/app/login/login.component.html -->
<div class="login-container">
  <div class="login-box">
    <h2>INICIO DE SESIÓN</h2>
    <form>
      <div class="input-group">
        <label for="email">
          <i class="fa fa-user"></i>
        </label>
        <input type="email" id="email" placeholder="example@admin.com">
      </div>
      <div class="input-group">
        <label for="password">
          <i class="fa fa-lock"></i>
        </label>
        <input type="password" id="password" placeholder="••••••••">
      </div>
      <button type="submit" class="login-button" (click)="onLogin()">Ingresar</button>
      <button type="button" class="register-button" (click)="onRegister()">Registrar</button>
    </form>
  </div>
</div>
