.cart-container {
    padding: 20px;
    text-align: center;
  }
  
  .cart-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .product-card img {
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
    display: block;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .remove-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button .pi {
    margin-right: 5px;
  }
  
  .remove-button:hover {
    background-color: #c0392b;
  }
  
  .cart-summary {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  button {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  