<div class="cart-container">
  <h2>Shopping Cart</h2>
  <div class="cart-list">
    <div *ngFor="let product of cart" class="product-card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="product-header-image"></div>
          <div class="p-toolbar-group-left">
            <mat-card-title style="margin-right: 15px;">{{ product.productType }}</mat-card-title>
            <mat-card-subtitle style="margin-right: 15px;">{{ product.brand }}</mat-card-subtitle>
          </div>
          <div class="p-toolbar-group-right">
            <button mat-button icon="pi pi-trash" style="margin-right: 15px; color: red;" (click)="removeFromCart(product)" class="remove-button">REMOVE</button>
          </div>
        </mat-card-header>
        <img mat-card-image src="assets/product-placeholder.png" alt="{{ product.productType }}">
        <mat-card-content>
          <p>{{ product.additionalInfo }}</p>
          <p><strong>Price:</strong> {{ product.price | currency }}</p>
          <p><strong>Quantity:</strong> {{ product.quantity }}</p>
          <p><strong>Total:</strong> {{ product.total | currency }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="cart-summary">
    <h3>Total: {{ total | currency }}</h3>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" style="margin-top: 15px; color: rgb(119, 0, 255); border: none; background: none;" (click)="backToEcommerce()">Back to E-commerce</button>
    <button mat-raised-button color="primary" style="margin-top: 15px; margin-left: 10px;" (click)="saveOrder()">Realizar Compra</button>
  </div>
</div>
