<div class="register-container">
  <div class="register-box">
    <button class="back-button" (click)="goBack()">
      <i class="fa fa-arrow-left"></i> Regresar
    </button>
    <h2>REGISTRO</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="firstName">
          <i class="fa fa-user"></i>
        </label>
        <input id="firstName" formControlName="firstName" type="text" placeholder="Nombre">
      </div>
      <div class="input-group">
        <label for="lastName">
          <i class="fa fa-user"></i>
        </label>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Apellido">
      </div>
      <div class="input-group">
        <label for="email">
          <i class="fa fa-envelope"></i>
        </label>
        <input id="email" formControlName="email" type="email" placeholder="example@admin.com">
      </div>
      <div class="input-group">
        <label for="password">
          <i class="fa fa-lock"></i>
        </label>
        <input id="password" formControlName="password" type="password" placeholder="••••••••">
      </div>
      <div class="input-group">
        <label for="typeId">
          <i class="fa fa-user-tag"></i>
        </label>
        <select id="typeId" formControlName="typeId">
          <option *ngFor="let option of typeOptions" [value]="option.typeId">
            {{ option.description }}
          </option>
        </select>
      </div>
      <button type="submit" class="register-button">Registrar</button>
    </form>
  </div>
</div>
