<div class="favorites-container">
  <h2>Favorites</h2>
  <div class="favorites-list">
    <div *ngFor="let product of favorites" class="product-card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="product-header-image"></div>
          <mat-card-title>{{ product.productType }}</mat-card-title>
          <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/product-placeholder.png" alt="{{ product.productType }}">
        <mat-card-content>
          <p>{{ product.additionalInfo }}</p>
          <p><strong>Price:</strong> {{ product.price | currency }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button style="color: rgb(87, 87, 175);" class="buy-now" (click)="addToCart(product)">BUY NOW</button>
          <button mat-raised-button style="color: green;" class="details" (click)="showDetails(product)">DETAILS</button>
          <button mat-button icon="pi pi-trash" (click)="removeFromFavorites(product)" class="remove-button">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="back-button-container">
    <button mat-raised-button color="primary" (click)="backToEcommerce()">Back to E-commerce</button>
  </div>
</div>

<p-dialog header="Enter Quantity" [(visible)]="displayQuantityDialog" [modal]="true" [style]="{width: '50vw'}" (onHide)="displayQuantityDialog = false">
  <form [formGroup]="quantityForm" (ngSubmit)="confirmAddToCart()">
    <div class="p-field" style="margin-bottom: 20px;">
      <label for="quantity">Quantity</label>
      <input id="quantity" type="number" pInputText formControlName="quantity" [max]="selectedProduct?.stock"/>
    </div>
    <p-footer>
      <button pButton type="submit" label="Add to Cart" [disabled]="!quantityForm.valid" style="margin-right: 10px;"></button>
      <button pButton type="button" label="Cancel" (click)="displayQuantityDialog = false"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Product Details" [(visible)]="displayDetailsDialog" [modal]="true" [style]="{width: '50vw'}" (onHide)="displayDetailsDialog = false">
  <div *ngIf="selectedProduct">
    <p><strong>Type:</strong> {{ selectedProduct.productType }}</p>
    <p><strong>Brand:</strong> {{ selectedProduct.brand }}</p>
    <p><strong>Additional Info:</strong> {{ selectedProduct.additionalInfo }}</p>
    <p><strong>Price:</strong> {{ selectedProduct.price | currency }}</p>
  </div>
  <p-footer>
    <button pButton type="button" label="Close" (click)="displayDetailsDialog = false"></button>
  </p-footer>
</p-dialog>
